/* Main Hero Section */
.hero {
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  align-items: center;
  background-image: url("https://www.vocantas.com/wp-content/uploads/2023/01/1920-human-resources-and-manpower-planning.jpg");
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

/* Left side */
.hero-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Badge */
.badge {
  background: rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  display: inline-flex;
  border-radius: 20px;
  color: #feffff;
  font-size: 14px;
  font-weight: 500;
}

.hero-title {
  font-size: 46px;
  font-weight: 700;
  line-height: 1.2;
  color: #222;
}

.highlight {
  background: linear-gradient(90deg, #000000, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-subtext {
  font-size: 18px;
  color: #040303;
  max-width: 500px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-primary.big {
  padding: 14px 28px;
  border-radius: 10px;
  font-size: 18px;
  background: linear-gradient(90deg, #000000, #000000, #000000);
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}

.btn-outline.big {
  padding: 14px 28px;
  border-radius: 10px;
  font-size: 18px;
  background: white;
  border: 2px solid #ddd;
  cursor: pointer;
}

.btn-outline.big:hover {
  background: #f5f5f5;
}

/* Stats */
.hero-stats {
  display: flex;
  gap: 40px;
  padding-top: 20px;
}

.hero-stats h3 {
  font-size: 32px;
  color: #000000;
}

.hero-stats p {
  font-size: 14px;
  color: #b5b5b5;
}

/* Right side graphics */
.hero-right {
  position: relative;
  width: 100%;
  height: 500px;
}

.floating-box {
  position: absolute;
  border-radius: 20px;
  animation: float 4s infinite ease-in-out;
}

.box1 {
  width: 120px;
  height: 120px;
  background: linear-gradient(45deg, #000000, #000000);
  top: 50px;
  right: 50px;
}

.box2 {
  width: 90px;
  height: 90px;
  background: rgba(0, 0, 0, 0.173);
  left: 30px;
  top: 150px;
}

.box3 {
  width: 160px;
  height: 160px;
  border: 1px solid #070708b7;
  background: white;
  bottom: 40px;
  right: 80px;
}

.box4 {
  width: 70px;
  height: 70px;
  background: #000000;
  opacity: 0.7;
  bottom: 180px;
  left: 40px;
}

/* Main card */
.hero-card {
  position: absolute;
  width: 240px;
  height: 300px;
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mini-box {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: linear-gradient(90deg, #000000, #2c2c2d);
  margin-bottom: 10px;
}

.dots span {
  width: 10px;
  height: 10px;
  background: #aaa;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Responsive */
@media (max-width: 900px) {
  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-right {
    display: none;
  }
}
