.services {
  padding: 100px 0;
  background: #f8f6ff;
}

.services-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
}

.services-header {
  max-width: 650px;
  margin: auto;
  margin-bottom: 60px;
}

.services-tag {
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.53);
  padding: 8px 16px;
  border-radius: 20px;
  color: #f0eff1;
  font-weight: 600;
}

.services-title {
  font-size: 40px;
  margin-top: 20px;
  color: #222;
}

.highlight {
  background: linear-gradient(90deg, #6e00ff, #ff007b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.services-subtext {
  font-size: 18px;
  color: #666;
  margin-top: 15px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.service-card {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #e7e7e7;
  transition: 0.3s;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

/* Image */
.service-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.service-card h3 {
  font-size: 22px;
  margin: 20px 20px 10px;
  color: #222;
}

.service-card p {
  color: #666;
  line-height: 1.5;
  margin: 0 20px 20px;
}

/* DETAILS BOX */
.service-details-box {
  margin-top: 60px;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  text-align: left;
  position: relative;
}

.details-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 20px;
}

.service-details-box h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #222;
}

.service-details-box p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .services-title {
    font-size: 32px;
  }

  .service-details-box {
    padding: 25px;
  }
}
